
abeeda/.DS_Store

.DS_Store

work/*.txt

*.mov

work/predator*.genome

work/swarm*.genome

work/*.csv
abeeda.xcodeproj/project.xcworkspace/xcuserdata/olsonran.xcuserdatad/UserInterfaceState.xcuserstate
